@model ProductVM

<div class="container">
    <div class="card shadow m-5 border-0 mb-5 ">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row col-12 text-center">
                <h2 class="text-white py-2">@(Model.Product.Id!=0?"Update":"Create") Product</h2>
            </div>
        </div>
        <div class="card-body p-4">
            <form method="post" class="row" enctype="multipart/form-data">

                @* <div asp-validation-summary="All"></div>  *@
                <input asp-for="Product.Id" hidden /> 
             @*    <input asp-for="Product.ImgUrl" hidden /> *@
                <div class="row">
                    <div class="col-10">
                        <div class="form-floating py-2">
                            <input asp-for="Product.Title"
                                   type="text"
                                   class="form-control shadow " />
                            <label asp-for="Product.Title" class="ms-2"></label>
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>
                        <div class=" py-2">
                            <label asp-for="Product.Description" class="ms-2"></label>
                            <Textarea asp-for="Product.Description" type="text" class="form-control shadow"></Textarea>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Product.ISBN" type="text" class="form-control shadow" />
                            <label asp-for="Product.ISBN" class="ms-2"></label>
                            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Product.Author" type="text" class="form-control shadow" />
                            <label asp-for="Product.Author" class="ms-2"></label>
                            <span asp-validation-for="Product.Author" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Product.ListPrice" type="text" class="form-control shadow" />
                            <label asp-for="Product.ListPrice" class="ms-2"></label>
                            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Product.Price" type="text" class="form-control shadow" />
                            <label asp-for="Product.Price" class="ms-2"></label>
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Product.Price50" type="text" class="form-control shadow" />
                            <label asp-for="Product.Price50" class="ms-2"></label>
                            <span asp-validation-for="Product.Price50" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Product.Price100" type="text" class="form-control shadow" />
                            <label asp-for="Product.Price100" class="ms-2"></label>
                            <span asp-validation-for="Product.Price100" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2">
                            <select asp-for="Product.CategoryId"
                                    asp-items="@Model.CategoryList"
                                    type="item"
                                    class=" form-select">
                                <option disabled select>---Select Category---</option>
                            </select>
                            <label asp-for="Product.CategoryId" class="ms-2"></label>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="row pt-3">

                            <div class="form-floating py-2">
                                <input type="file" name="files" class="form-control shadow" multiple />
                                <label asp-for="Product.ProductImages" class="ms-2"></label>
                            </div>
                            <div class="col-6 col-md-3 mt-3">
                                @if (Model.Product.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">
                                        Update Product
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">
                                        Create Product
                                    </button>
                                }

                            </div>
                            <div class="col-6 col-md-3 mt-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border form-control">
                                    Back To List
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">

                            @if(Model.Product.ProductImages != null)
                            {
                                foreach(var image in Model.Product.ProductImages)
                                {
                                    <div class="border p-1 m-2 text-center">
                                    <img src="@image.ImageUrl" width="100%"
                                         style="border-radius:5px; border:1px solid #bb9b " />
                                         <a asp-action="DeleteImage" class="btn btn-danger" asp-route-imageId="@image.Id">
                                             <i class=" bi bi-trash-fill"></i> Delete
                                         </a>
                                    </div>
                                }
                            }
                            @*  <img src="@Model.Product.ImgUrl" width="100%"
                             style="border-radius:5px; border:1px solid " /> *@
                    </div>
                    </div>
            </form>
        </div>
    </div>

    @section Scripts 

    {
        <script>
            tinymce.init({
              selector: 'textarea',
              plugins: [
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                // Your account includes a free trial of TinyMCE premium features
                // Try the most popular premium features until Jan 1, 2026:
               
              ],
              toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography uploadcare | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
              tinycomments_mode: 'embedded',
              tinycomments_author: 'Author name',
              mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
              ],
              ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
              uploadcare_public_key: '2d80fab537b16d58c9d2',
            });
        </script>
        <partial name="_ValidationScriptsPartial" />
    }
</div>
